{% extends "base.html" %}
{% block title %}New Post{% endblock %}
{% block content %}
	<a href="/blog/newpost" class="main-title">
		new post
	</a>
	<div class="login-area">
		<a class="login-link" href="/blog">home</a>
		|
		<a class="login-link" href="/blog/logout">logout</a>
	</div>
	<form method="post">
		<label>
			<div>subject</div>
			<input type="text" name="title" value="{{subject}}"> 
		</label>
		<label>
			<div>blog</div>
			<textarea name="content" style="height: 300px; width: 600px;">{{content}}</textarea>
			<div class="error">{{error}}</div>
		</label>
		<input type="submit">
	</form>
{% endblock %}